/* src/TodoItem.css */
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .todo-item.completed span {
    color: #fdfcfc;
  }
  .todo-item.completed span {
    text-decoration: line-through; 
  }